build/

*.so
*.so.*
*.o
*.a
*.dSYM
.DS_Store
*.pyc
*.dll
*.exe
*.dylib

# Eclipse files
.cproject
.project
.settings/

# Visual Studio Code files
.vscode

# temporary vim files
*.swp
*.swo

# patch files
*.rej
*.orig

# Python cache
__pycache__
.pytest_cache

# Thumbnails
._*

### Python Virtualenv
venv
