[Unit]
Description=Wazuh agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
PIDFile=/run/wazuh-agent.lock
ExecStart=/usr/bin/env WAZUH_HOME/wazuh-agent
ExecStop=/usr/bin/env WAZUH_HOME/wazuh-agent --stop

KillSignal=SIGTERM

KillMode=process

SendSIGKILL=no

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
