[Unit]
Description=Wazuh agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple

ExecStart=/usr/bin/env WAZUH_HOME/wazuh-agent
TimeoutStopSec=30s

KillSignal=SIGTERM

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
