[Unit]
Description=Wazuh agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple

ExecStart=/usr/bin/env WAZUH_HOME/wazuh-agent
TimeoutStopSec=30s    # Wait for 30 seconds before killing the service

KillSignal=SIGTERM

KillMode=process

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
