run-name: Packages - Build Wazuh agent Windows ${{ inputs.is_stage && ' - is stage' || '' }}${{ inputs.checksum && ' - checksum' || '' }} - ${{ inputs.id }}
name: Build Wazuh agent Windows

on:
  workflow_dispatch:
    inputs:
      revision:
        description: |
          Package revision (name and metadata).
          Default is '0'.
        required: false
        default: '0'
      is_stage:
        type: boolean
        description: |
          Set production nomenclature if true.
          Default is 'false'.
        required: false
      checksum:
        type: boolean
        description: |
          Generate package checksum.
          Default is 'false'.
        required: false
      source_reference:
        type: string
        description: |
          Branch/tag of wazuh-agent repository to generate packages.
        required: true
      id:
        type: string
        description: |
          ID used to identify the workflow uniquely.
        required: false

  workflow_call:
    inputs:
      revision:
        type: string
        required: false
      is_stage:
        type: boolean
        required: false
      checksum:
        type: boolean
        required: false
      source_reference:
        type: string
        required: true
      id:
        type: string
        required: false

jobs:
  generate-agent-windows-package:
    runs-on: windows-2022
    env:
      VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
    timeout-minutes: 120
    name: Generate MSI Windows wazuh-agent${{ inputs.is_stage && ' - is stage' || '' }}${{ inputs.checksum && ' - checksum' || '' }}

    steps:
      - name: Checkout the wazuh-agent repository
        uses: actions/checkout@v4
        with:
          repository: wazuh/wazuh-agent
          ref: ${{ inputs.source_reference }}
          persist-credentials: false

      - name: Build Windows MSI
        uses: ./.github/actions/5_builderpackage_binary_win
        with:
          revision: ${{ inputs.revision }}
          is_stage: ${{ inputs.is_stage }}
          checksum: ${{ inputs.checksum }}
          source_reference: ${{ inputs.source_reference }}
          gh_token: ${{ secrets.CI_WAZUH_AGENT_PACKAGES_CLASSIC }}
